<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Accounts</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Accounts</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/users">All Accounts</a></li>
					<li><a href="/createUser">Create user</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/createUser}" th:object="${userDto}"
					method="post">
					<!-- 					<div class="alert alert-danger" id="errorMessage"></div> -->
					<div class="form-group">
						<label>First name</label> <input name="firstName" type="text"
							th:field="*{firstName}" class="form-control"
							placeholder="First name" required="required" />
					</div>
					<div class="form-group">

						<label>First name</label> <input name="lastName" type="text"
							th:field="*{lastName}" class="form-control"
							placeholder="Last name" required="required" />
					</div>
					<div class="form-group">
						<label>Email</label> <input name="email" type="text"
							th:field="*{email}" class="form-control" placeholder="Email"
							required="required" />
					</div>
					<div class="form-group">
						<label>Birthdate</label> <input name="dateOfBirth" type="date"
							th:field="*{dateOfBirth}" class="form-control"
							placeholder="Birthdate" required="required" />
					</div>
					<button type="submit" class="btn btn-success" id="createUser">Submit</button>
					<a class="btn btn-primary" href="/users">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>